<div class="jumbotron">
  <h1>About me, madc0w</h1>
  <p>
  Madc0w is a sick cow that has the mad cow disease. However, it is also mad, since it<br>
  on't have a live insurance
  </p>
  <blockquote class="blockquote">
    <p>"Hack the world!"</p>
    <small>Mufasa, King</small>
  </blockquote>
  <p>
    {{#link-to 'contact' class="button"}}
      Contact Us
    {{/link-to}}
  </p>
</div>
